$var-font-header 			= "proxima-nova", Arial, HelveticaNeue, sans-serif
$var-font-body 				= "proxima-nova", Arial, HelveticaNeue, sans-serif
$var-font-article			= "proxima-nova", Arial, HelveticaNeue, sans-serif

$color-brand-pink 			= #e8a9bd
$color-brand-hot-pink		= #d76797
$color-brand-yellow 		= #f2f24a
$color-brand-light-blue		= #98e8f8
$color-brand-blue 			= #508ad6
$color-brand-marine-blue	= #598b94
$color-brand-light-blue 	= #98e8f8
$color-brand-dusk-blue		= #5d757c
$color-brand-green 			= #81d46e
$color-brand-dark-grey 		= #70737a
$color-brand-mid-grey 		= #bec0c1
$color-brand-brown			= #86756e
$color-brand-tan			= #b6a89b
$color-brand-light-grey 	= #f1f1f1
$color-brand-purple 		= #6e5c95
$color-brand-red 			= #a53c48
$color-brand-white 			= #fefefe
$color-brand-black 			= #434343
$color-brand-orange 		= #eb7633

// Assignment

$color-ocean 				= $color-brand-light-grey
$color-ocean-lines 			= #ddd
$color-key 					= #DA1A43
$color-body-font 			= $color-brand-dark-grey
$color-body-font-soft 		= lighten( $color-brand-dark-grey, 10 )
$color-code 				= lighten(#2a2c3c, 5)
$color-feature 				= $color-brand-red

html

	font-family $var-font-body
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%
	font-weight 200
	box-sizing border-box
	overflow-y scroll
	background $color-ocean

body

	margin 0
	color hsla(0, 0%, 0%, 0.8)
	font-weight normal
	word-wrap break-word
	font-kerning normal
	font-feature-settings "kern", "liga", "clig", "calt"
	color $color-body-font
	font-size: 15px;
	color: #292d33;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;

h1, h2, h3, h4, h5, h6

	font-family $var-font-header
	font-weight normal
	color $color-feature
	font-weight 300

	a

		color $color-feature

h1

	font-size 64px
	font-weight 300
	letter-spacing -.34px
	margin 0
	line-height: 1.2;

p code

	font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	background $color-brand-white
	padding 10px
	font-size 0.9rem
	color $color-brand-black
	margin 0
	padding 5px 10px
	background $color-code
	color lighten( $color-brand-blue, 20 )

pre code

	width 100%
	display block
	border none

a

	text-decoration none
	color $color-brand-red

.page

	max-width 800px
	padding 20px
	margin 0 auto

footer.site-footer

	background darken( $color-ocean, 5 )
	padding 60px 0

	.page

		color darken( $color-ocean, 40 )

	nav

		a

			display block
			padding 0 0 10px 0
			margin 0 0 10px 0
			border-bottom 1px solid darken( $color-ocean-lines, 5 )

			&:last-child

				border 0

	p.copyright
	p.company-details

		text-align center
		font-size 0.8rem
		line-height 1.2rem
		margin 0 0 1rem

	p.company-details

		padding-top 40px
		border-top 1px solid darken( $color-ocean-lines, 5 )

	.contact

		border-top 1px solid darken( $color-ocean-lines, 5 )
		border-bottom 1px solid darken( $color-ocean-lines, 5 )
		margin 60px auto 60px
		font-size 1.4rem
		line-height 1.5rem
		text-align center

	.pride

		padding 40px 0
		margin 40px 0
		text-align center

		.also-thanks

			a

				width auto

		h4

			margin 0 auto 40px
			font-size 1.2rem
			line-height 1.7rem
			color darken( $color-ocean, 55 )
			max-width 600px

		h5

			margin 20px auto 20px
			font-size 1.2rem
			line-height 1.7rem
			color darken( $color-ocean, 55 )
			max-width 600px

		a

			padding 15px
			text-align center
			display inline-block
			width 100px

			svg

				fill currentColor

			&:last-child

				border none

		p

			padding-bottom 0
			margin-bottom 0

		.svg

			width 50px

header.site-header

	background $color-feature
	position relative

	.availability

		margin 30px 0 0 0
		background $color-ocean
		color $color-brand-black
		padding 4px 10px 4px
		border-radius 8px
		font-size 0.7rem

		@media (min-width: 700px)

			border-radius 0 0 8px 8px
			position absolute
			top 0
			right 10px
			margin 0

		a

			font-weight bold
			display inline-block
			padding 4px

	.page

		position relative

	.avatar

		 display inline-block
		 width 70px
		 height 70px
		 background-position 50% 50%
		 background-size cover
		 border-radius 10px
		 position absolute
		 border 3px solid $color-brand-white
		 left 10px
		 top 5px

		@media (min-width: 415px)

			top 6px

	h1

		margin 0 0 0 80px
		font-size 1.7rem
		line-height 2rem

		a

			color $color-brand-white

		.sub-title

			display block
			font-size 0.9rem
			line-height 1.2rem
			color lighten( $color-feature, 35 )

			@media (max-width: 415px)

				margin-top 5px

	nav

		border-top 1px solid lighten( $color-feature, 13 )
		border-bottom 1px solid lighten( $color-feature, 13 )

		.page

			padding-bottom 10px

		a

			display inline-block
			padding-right 10px
			margin 0 10px 10px 0
			border-right 1px solid lighten( $color-feature, 13 )
			color lighten( $color-feature, 40 )

			span

				padding 0 2px 4px

				&:hover

					color $color-brand-white

			&.active span

				color $color-brand-white
				border-bottom 2px solid $color-brand-white

			&:last-child

				border-right none

a[href^="tel"]

	word-break keep-all
	white-space nowrap

.main-feature

	background $color-feature
	color $color-white
	text-align center
	border-bottom 1px solid $color-brand-white

	.page

		padding 60px 20px

	h1

		font-size 3.4rem
		line-height 4.0rem
		color $color-brand-white

		@media (max-width: 600px)

			font-size 2.4rem
			line-height 2.8rem

	p

		color lighten( $color-feature, 35 )
		max-width: 765px;
		font-size: 1.2rem
		line-height: 1.6rem
		margin: 36px auto 0;

article.article

	font-family $var-font-article
	font-size 16px
	margin-bottom 60px

	main

		max-width 650px
		margin 0 auto

		P:first-child

			font-weight 600
			font-size 1.7em
			line-height: 1.4em;

	footer

		margin-top 40px
		padding-top 40px
		border-top 1px solid $color-ocean-lines

		p

			font-size 0.8rem

		.tag-list

			a

				display inline-block
				padding 5px 8px
				margin 0 2px 2px 0
				background $color-brand-red
				color $color-brand-white


		.next-previous-article

			.link

				display inline-block
				width 50%
				padding 20px

			.link.prev

				float left

			.link.next

				border-left 1px solid $color-ocean-lines
				float right
				text-align right

	header

		padding 60px 0
		max-width 650px
		margin 0 auto

		h1

			font-size 44px

	p
	li

		letter-spacing: 0.01rem;
		font-size: 1.4rem;
		line-height: 1.75em;
		color: darken( $color-body-font, 15 )

		&:last-child

			margin-bottom 0

	p

		margin: 0 0 1.2em 0;

.tag-list

	a

		display inline-block
		padding 5px 8px
		margin 0 2px 2px 0
		background $color-brand-red
		color $color-brand-white

aside.tag-list

	text-align center
	padding 20px

.tech-interests

	span

		display inline-block
		padding 0px 12px
		margin 2px
		border-radius 5px
		background $color-feature
		color $color-ocean

.posts-listing-verbose

	.PostListingItem

		padding 40px
		max-width 600px

		h1

				margin 0 0 10px
				font-size 1.75rem

	& > h2

		text-align center
		font-size 3.2rem

.PostListingItem

	border-bottom 1px solid $color-ocean-lines
	padding 10px 0
	margin 0 auto

	&:last-child

		border-bottom none

	p

		letter-spacing: 0.01rem;
		font-size: 1rem;
		line-height: 1.5em;
		color: darken( $color-body-font, 15 )
		margin 0

	header

		h1

			font-size 1.1rem

		.post-date-time

			color $color-body-font-soft
			font-size 12px

// Tag listing

.tag-count

	text-align center
	font-size 1.75em
	margin 0

.all-tags-link
.all-articles-link

	text-align center
	display block
	font-size 1.75em
	padding 0 0 60px

// Prism.JS code the


// Add back the container background-color, border-radius, padding, margin
// and overflow that we removed from <pre>.

.gatsby-highlight

	background-color: $color-code
	border-radius: 0.3em;
	margin: 3em 0;
	padding: 1em;
	overflow: auto;

// Remove the default PrismJS theme background-color, border-radius, margin,
// padding and overflow.

.gatsby-highlight pre[class*="language-"]

	background-color: transparent;
	margin: 0;
	padding: 0;
	overflow: initial;
	float: left; // Make the element just wide enough to fit its content.
	min-width: 100%; // Always fill the visible space in .gatsby-highlight.

code[class*="language-"],
pre[class*="language-"]

	font-family Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace
	font-size 1rem
	line-height 1.75
	direction ltr
	text-align left
	white-space pre
	word-spacing normal
	word-break normal
	-moz-tab-size 4
	-o-tab-size 4
	tab-size 4
	-webkit-hyphens none
	-moz-hyphens none
	-ms-hyphens none
	hyphens none
	background $color-code
	color lighten( $color-brand-blue, 10 )

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection

	text-shadow none
	background #5151e6

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection

	text-shadow none
	background #5151e6

pre[class*="language-"]

	padding 1em
	margin .5em 0
	overflow auto

:not(pre)
	& > code[class*="language-"]
		padding .1em
		border-radius .3em

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata

	color lighten(#5b5b76, 20)

.token

	&.punctuation
		color lighten($color-brand-blue, 30)
	&.namespace
		opacity .7
	&.deleted
		text-decoration line-through
	&.inserted
		border-bottom 1px dotted #ebebff
		text-decoration none
	&.italic
		font-style italic
	&.important
		color #aaaaca
	&.entity
		cursor help

.token.tag,
.token.operator,
.token.number

	color #dd672c

.token.property,
.token.function

	color lighten($color-brand-green, 20)

.token.tag-id,
.token.selector,
.token.atrule-id

	color #ebebff

code.language-javascript,
.token.attr-name

	color #aaaaca

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule
	color #fe8c52

.token.placeholder,
.token.variable
	color #fe8c52

.token.important,
.token.bold
	font-weight bold

pre
	& > code
		&.highlight
			outline .4em solid #7676f4
			outline-offset .4em

.line-numbers
	.line-numbers-rows
		border-right-color #262631

.line-numbers-rows

	& > span
		&:before
			color #393949

.line-highlight

	background rgba(221, 103, 44, 0.2)
	background -webkit-linear-gradient(left, rgba(221, 103, 44, 0.2) 70%, rgba(221, 103, 44, 0))
	background linear-gradient(to right, rgba(221, 103, 44, 0.2) 70%, rgba(221, 103, 44, 0))